/*BY KHUSHI PATEL*/
h1{
	margin-bottom: 15px;
	text-align: center;
	color: #ff4532;
	font-size: 50px;
}
body{
	margin: 0px;
	padding: 0px;
	font-family: "sans-serif", cursive ;
	margin: 20px;
}
.new{
	background-color: dimgray;
	padding-top: 30px;
	padding-left: 5px;
	border: 4px solid black;
	margin-bottom: 30px;

}
.content-name{
	overflow: none;
	text-align: center;
	border-style: solid;
	border-color: black;
	border-width: 4px;
	width: 100px;
	height: 40px;
	padding: 5px;
	float: right;
	position: relative;
	margin-top: -32px;
	margin-right: -3px;
	
}
.row{
	width: 100%;
}
.color-1{
	background-color: salmon;
}
.color-2{
	background-color: #ff0000;
}
.color-3{
	background-color: #ffff00;
}
*{
	box-sizing: border-box;
}
/*************MEDIA QUERIES ********************/
/*LARGE DEVICE*/
@media(min-width: 992px){
	.col-lg-4{
		float: left;
		width: 33%;
		padding: 5px;
	}
}

/**********MEDIUM DEVICES***********************/
@media (min-width: 768px) and (max-width: 991px){
	.col-md-6, .col-md-12{
		float: left;
	}
	.col-md-6{
		width: 50%;
		padding: 8px;
	}
	.col-md-12{
		width: 100%;
	}
}
/**********SMALL DEVICES***************/
@media (max-width: 767px) and (min-width: 0px){
	.col-sm-1{
		width: 100%;
	}

}